/**
 * 01. Client Logos Column
 */


// 01. Client Logos Column

.client-logos-col {
    position: relative;

    .client-cat-rotate {
        text-align: center;
        text-transform: uppercase;
        color: $black-50;
        letter-spacing: 1.05px;

        p {
            font-family: $gilmer-heavy;
        }

        @media only screen and (min-width: 782px) {
            writing-mode: vertical-rl;
            transform: rotate(180deg);
        }
    }
}